.header
  %a.logo{href: "/"}
    %img{:src => "http://localhost:3000/assets/stag.jpg"}
  .header-right
    %a.active{:href => "/"} Home
    %a{href: "/"} Your modules
    %a{href: "/course_modules"} All modules
    %a{href: "contact"} Contact
