//%h1 New selected_module

= render "shared/backgroundAnimation"

.jumbotron.text-center
  %h1= t('.title')
  %p= t('.description')

= render 'form'

//= link_to 'Cancel', my_modules_path, class:'btn'
