%p#notice= notice

-#%p
-#  %b Id:
-#  = @selected_module.id
-#%p
-#  %b Studentid:
-#  = @selected_module.studentId
%p
  %b Tittle:
  = @selected_module.course_module.Title

= link_to 'Edit', edit_selected_module_path(@selected_module)
\|
= link_to 'Back', my_modules_path
